body{
    margin:0%;
    padding: 0%;
}

#images{
    width: 10%;

}
img{
    padding-left: 650px;
}
#herosection{
    text-align: center;
    background-color: #d3d7fc; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
  padding: 10px; 

}
#about{
    background-color: #d3d7fc; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
  padding: 10px; 
}
#introduction{
    background-color: #d3d7fc; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
  padding: 10px; 
}
.project{
    background-color: #d3d7fc; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
  padding: 10px; 

}
.Hobbies{
    background-color: #d3d7fc;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    padding: 10px; 

}
#footer h5{
    text-align: center;
}
